<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>IDI, Inc.</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <!-- fonts awesome style -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section static-->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            <a class="" href="./index.html">
              Home
            </a>
            <a class="active" href="./appdevelop.html">
              Information Management
            </a>
            <a class="" href="./service.html">
              Services
            </a>
            <!--a class="" href="./testimonial.html">
              Testimonial
            </a-->
            <a class="" href="./news.html">
              Latest News
            </a>
            <a class="" href="./contact.html">
              Contact Us
            </a>
          </div>
        </div>
        <a class="navbar-brand" href="./index.html">
          <span>
            IDI, Inc.
          </span>
        </a>
        <div class="user_option">
          <form class="form-inline">
            <button class="btn  nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <a href="">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </div>
        <div class="name_style">
          <h6>
            I
            D
            I,

            I
            n
            c.

          </h6>
        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Application Development
              </h2>
            </div>
            <p>
              At IDI, we deliver innovative software engineering and system integration services that are grounded in deep technical expertise and powered by advanced, automated tools. We specialize in designing, developing, and implementing complex, scalable systems that drive business results. As technology continues to evolve, we stay at the forefront, embracing agile methodologies and business process automation to meet the changing needs of both IT and business landscapes.
              <br>
              Our application development services encompass the full lifecycle—from requirements analysis and system design to development, documentation, independent verification and validation (IV&V), and training. By adhering to industry-recognized standards and leveraging agile practices, we ensure that every solution is aligned with our clients’ needs and scalable for future growth.
              <br>
              IDI minimizes technological risk and maximizes success by offering cutting-edge, end-to-end solutions—from concept through to implementation and beyond. With our agile, innovative approach, we empower organizations to rapidly adapt, ensuring they remain competitive in today’s fast-moving digital environment.
            </p>
            <a href="./service.html">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <div class="stripe_design sd1"></div>
            <div class="stripe_design sd2"></div>
            <div class="stripe_design sd3"></div>
            <div class="stripe_design sd4"></div>
            <div class="stripe_design sd5"></div>
            <div class="stripe_design sd6"></div>
            <img src="/static/images/about-img.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  info@idi-us.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="https://www.facebook.com/">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://x.com/?lang=en">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="" href="./index.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Home
              </a>
              <a class="active" href="./about.html">
                <img src="/static/images/nav-bullet.png" alt="">
                About
              </a>
              <a class="" href="./service.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Services
              </a>
              <!--a class="" href="./testimonial.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Testimonial
              </a-->
              <a class="" href="./news.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Latest News
              </a>
              <a class="" href="./contact.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/custom.js"></script>
  <!-- Google Map -->
  <!-- script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script-->
  <!-- End Google Map -->
</body>

</html>