<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>IDI, Inc.</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <!-- fonts awesome style -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section statics -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            <a class="" href="./index.html">
              Home
            </a>
            <a class="" href="./about.html">
              About
            </a>
            <a class="active" href="./service.html">
              Services
            </a>
            <!--a class="" href="./testimonial.html">
              Testimonial
            </a>
            <a class="" href="./news.html">
              Latest News
            </a-->
            <a class="" href="./contact.html">
              Contact Us
            </a>
          </div>
        </div>
        <a class="navbar-brand" href="./index.html">
          <span>
            IDI,Inc.
          </span>
        </a>
        <div class="user_option">
          <form class="form-inline">
            <button class="btn  nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <a href="">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </div>
        <div class="name_style">
          <h6>
            I
            D
            I
            I
            N
            C
          </h6>
        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>


  <!-- we do section -->

  <section class="wedo_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What We do
        </h2>
        <p>
        At Information Dynamics International, Inc. (IDI), we stay at the forefront of technological innovation by integrating advanced artificial intelligence (AI) and data-driven solutions into our service offerings. Leveraging expertise in Python, web scraping, data analysis, and cutting-edge Large Language Models (LLMs), such as ChatGPT, we empower organizations to extract actionable insights from vast and complex data sets.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box pr-0 pr-lg-5">
            <div class="img-box">
              <img src="/static/images/wedo-img2.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Advanced Data Solutions and AI Expertise
              </h5>
              <p>
                 At Information Dynamics International, Inc. (IDI), we stay at the forefront of technological innovation by integrating advanced artificial intelligence (AI) and data-driven solutions into our service offerings. Leveraging expertise in Python, web scraping, data analysis, and cutting-edge Large Language Models (LLMs), such as ChatGPT, we empower organizations to extract actionable insights from vast and complex data sets. Our capabilities include:
              </p>
              <a href="idiiadvanceai.html">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box pr-0 pr-lg-5">
            <div class="img-box">
              <img src="/static/images/wedo-img3.png" alt="">
            </div>
            <div class="detail-box">
             <h5>
               Document Management Solutions
              </h5>
              <p>
                At Information Dynamics International, Inc. (IDI), we empower organizations by unlocking the potential of their unstructured data, transforming documents into actionable insights. Research indicates that up to 80% of enterprise knowledge exists as unstructured data, primarily in documents
              </p>
              <a href="./ididocmanagement.html">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box pr-0 pr-lg-5">
            <div class="img-box">
              <img src="/static/images/wedo-img4.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Internet Technology
              </h5>
              <p>
                At IDI, we deliver innovative software engineering and system integration services that are grounded in deep technical expertise and powered by advanced, automated tools. We specialize in designing, developing, and implementing complex, scalable systems that drive business results.
              </p>
              <a href="./internettech.html">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box pr-0 pr-lg-5">
            <div class="img-box">
              <img src="/static/images/wedo-img1.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Data Center Management Solutions
              </h5>
              <p>
                At IDI, we deliver stable, secure, and scalable data center operations while guiding clients toward technological innovation to meet future demands. Our comprehensive approach ensures that data centers not only meet today’s needs but are future-ready for emerging challenges and opportunities.
              </p>
              <a href="./ididatacenter.html">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end we do section -->


  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <!--a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +01 1234567890
                </span>
              </a-->
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  info@idi-us.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="" href="./index.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Home
              </a>
              <a class="" href="./about.html">
                <img src="/static/images/nav-bullet.png" alt="">
                About
              </a>
              <a class="active" href="./service.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Services
              </a>
              <!--a class="" href="./testimonial.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Testimonial
              </a>
              <a class="" href="./news.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Latest News
              </a-->
              <a class="" href="./contact.html">
                <img src="/static/images/nav-bullet.png" alt="">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              (IDI) is a trusted leader in delivering innovative software technology solutions to federal, state, and local governments, the U.S. Army, and commercial enterprises.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/custom.js"></script>
  <!-- Google Map -->
  <!-- script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script-->
  <!-- End Google Map -->
</body>

</html>